
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    line-height: 1.3;
    letter-spacing: 1px;
    background-color: #161616;
    --background-color: #edf1fd;
    --white-color: #fff;
    --black-color: #000;
    --main-color: #6c707c;
    --color-header: #17d1ac;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

p{
    font-size: 13px;
    color: var(--main-color);

}

li{
    list-style: none;
}

.logo a{
    color: var(--black-color);
}

.btn{
    background: transparent;
    border: transparent;
    background-color: var(--black-color);
    padding: 12px 20px;
    margin: 10px 0;
}

.row{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.header{
    background: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-transform: uppercase;
    padding: 30px 50px;
    position: relative;

}

.nav_container{
    display: flex; 
    justify-content: space-between; 
}

.navbar{
    display: flex;
}

.navbar li{
    margin: 0 2px;
}

.navbar li a{
    padding: 0 20px;
    font-size: 14px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.navbar .active{
    background: #000;
    padding: 10px 20px;
    color: var(--white-color);
}

.navbar li a:hover{
    background: #000;
    padding: 10px 20px;
    color: var(--white-color);
}

.en select{
    border: 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.contents{
    position: absolute;
    top: 40%;
    width: 40%;
    left: 10%;
}

.contents h1{
    font-size: 44px;
    margin:10px 0;
}

.black a{
    color: var(--white-color);
}

.social_icons{
    position: absolute;
    bottom: 0;
    left: 9%;
    margin-bottom: 20px;
}

.social_icons a{
    margin: 0 10px;
    font-size: 20px;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.social_icons a:hover{
    color: var(--black-color);
}

.black-line {
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
   bottom:0px;
   left: -3%;
   border-right: 1px solid  rgba(41,41,41,0.30);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  position: absolute;
  bottom:40px;
  width: 20px;
  height: 20px;
  left: 46.3%;
}

.about{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.about_content{
    margin-right: 0;
    margin-top: 100px;
}


.about_content h1, .s-heading h1{
    color: var(--color-header);
    font-size: 45px;
    margin: 10px 0;
}

.about_content p{
    margin: 13px 0;
    font-size: 16px;
}

.about_content h2{
    color: var(--white-color);
}

.btn_about{
    background: var(--color-header);
    padding: 10px 30px;
    color: var(--black-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
    border: 0;
}

.btn_about:hover{
    background: transparent;
    color: var(--color-header);
    border: var(--color-header) 1px solid;

}


.s-heading{
    text-align: center;
}


.s-heading h1{
    color: var(--white-color);
}

.s-heading p{
    color: var(--main-color);
    font-size: 1rem;
}

.s-boxs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    grid-gap: 20px;
}

.s-boxs img{
    width: 100%;
    height: 350px;
}

.s-boxs p{
    background:#1E1E1E;
    padding: 30px;
    margin-top: -5px;
    text-align: center;
    color: var(--white-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 15px;
}

.s-boxs p a:hover{
    color: #fff;
    opacity: 0.8;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.s-box{
    cursor: pointer;
}

.s-box > div{
    position: relative;
}

.s-box > div > p{
    position: absolute;
    width:35%;
    padding: 20px 10px;
    top: 0;
    left: 33%;
    background-color: var(--black-color);
}

.s-box:hover{
    transform:translateY(-10px);
    transition: all ease 0.3s;
}


.portfolio{
    padding: 100px 0;
}

.p-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
}

.p-boxes .img{
    position: relative;
    width: 95%;
    height: 250px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.p-boxes .img:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, var(--color-header), var(--color-header));
    opacity: .6;
    border-radius: 20px;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.p-boxes .img .back_img {
    opacity: 0;
    width: 90%;
    height: 50%;
    padding: 100px;
    position: absolute;
    left: 10%;
    bottom: 55px;
    color: var(--white-color);
}

.p-boxes .img .back_img:hover{
    opacity: 1;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}


.img-1{
    background: url('/images/w1.jpg');
}

.img-2{
    background: url('/images/w2.jpg');
}

.img-3{
    background: url('/images/w3.jpg');
}

.img-4{
    background: url('/images/w4.jpg');
}

.img-5{
    background: url('/images/w5.jpg');
}

.img-6{
    background: url('/images/w6.jpg');
}




.p-boxes .img .back_img p{
    color: var(--white-color);
}


.help{
    background: var(--white-color);
    padding: 80px 0;
    text-align: center;
}

.help_container h1{
    font-size: 35px;
}

.help_container h1::after{
    content: "";
    display: block;
    height: 2px;
    background: var(--black-color);
    margin: 10px auto;
    width: 58%;
}

.contact{
    color: var(--white-color);
    padding: 13px 40px;
    cursor: pointer;
}

.contact:hover{
    color: var(--black-color);
    background: var(--color-header);
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.contact_section{
    padding: 100px 0;
    color: var(--white-color);
}

.contact_form{
    padding: 40px 100px;
    background: #1E1E1E;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-left{
    position: relative;
}

.contact-left::after{
    content: "";
    display: block;
    background: rgb(66, 66, 66);
    position: absolute;
    right: 100px;
    top: 0;
    margin-top: -40px;
    height: 119%;
    width: 1px;
}

.contact_form h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.f-name label, .f-email label, .message label{
    display: block;
    margin: 20px 0;
    font-size: 22px;
}

input[type], textarea{
    background: transparent;
    border: transparent;
    width: 60%;
}

textarea{
    width: 160%;
    height: 320px;
}


input[type]:focus, textarea:focus{
    outline: 0px solid transparent;
}

input[type]{
    border-bottom: 1px solid var(--color-header);
}

.contact-right{
    margin-left: -80px;
    position: relative;
}

.subbit{
    padding: 12px 220px;
    background: var(--color-header);
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 16px;
    margin-top: -20px;
}

.subbit:hover{
    border: 1px solid var(--color-header);
    background: transparent;
    color: var(--white-color);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
